* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-grey: #262626;
    --light-grey: #545454;
    --green: #CCEABB;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--light-grey);
}

.navbar {
    width: 100%;
    min-height: 5vh;
    transition: all .2s ease;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #CCEABB;
    z-index: 100;
}

.navbar .nav-item,
.navbar .nav-link,
.navbar .navbar-brand {
    color: var(--dark-grey);
}

.navbar .navbar-brand {
    font-size: 32px;
}

.navbar .nav-item:hover {
    text-decoration: underline;
}


/* =============================== Home Page ======================================= */

.landing h1 {
    font-family: 'Nanum Myeongjo', serif;
}

.landing .btn {
    border-radius: 0;
}

@media screen and (max-width:786px) {
    .landing h1 {
        font-size: 40px;
    }
}

.advantages {
    margin-top: 100px;
}

.advantages h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 48px;
    color: var(--dark-grey);
}

.services {
    margin-top: 100px;
}

.services h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 48px;
    color: var(--dark-grey);
}

.services h6 {
    width: 60%;
    line-height: 1.5;
}

.services .service {
    transition: all 0.3s ease;
}

.services .service:hover {
    background-color: #CCEABB;
}

.event-types {
    margin-top: 100px;
}

.event-types h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 48px;
    color: var(--dark-grey);
}

.event-types .event {
    position: relative;
    padding: 0;
    margin: 0;
    border: 1px solid #CCEABB;
}

.event-types .event .overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

.event-types .event:hover .overlay:before {
    background-color: hsla(98, 53%, 83%, 0.8);
}

.event-types .event:hover .content {
    color: var(--dark-grey);
}

.event-types .event img {
    width: 100%;
    object-fit: contain;
    height: 300px;
}

.event-types .event .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media screen and (max-width:786px) {
    .event-types .event img {
        height: auto;
    }
    .event-types .content {
        padding: 0;
    }
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}

.slick-next::before {
    font-size: 30px !important;
}

.slick-prev::before {
    font-size: 30px !important;
}


/* ===================================== About Page =============================== */

.about h1 {
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: var(--green);
    text-decoration-thickness: 2px;
}

.about .diamond img {
    filter: hue-rotate(50deg);
}

.about p {
    font-size: 18px;
}

.values img {
    filter: hue-rotate(40deg);
}


/* ================================= Menu page ====================================== */

.menu h1 {
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: var(--green);
    text-decoration-thickness: 2px;
}

.menu .diamond img {
    filter: hue-rotate(50deg);
}

.menu h4 {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-transform: uppercase;
}

.menu p {
    font-size: 18px;
}

.menu .family,
.menu .table,
.menu .buffet {
    margin-top: 100px;
}

.menu-gallery .menu1 {
    height: 100%;
    overflow: hidden;
}

.menu-gallery .menu1 img {
    object-fit: contain;
    transition: transform .5s ease;
}

.menu-gallery .menu1 .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: all 0.5s ease;
    z-index: 2;
    font-family: 'Nanum Myeongjo', serif;
}

.menu-gallery .menu1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    z-index: 1;
}

.menu-gallery .menu1:hover {
    cursor: pointer;
}

.menu-gallery .menu1:hover .content {
    bottom: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--green);
    color: var(--dark-grey);
    padding: 10px;
}

.menu-gallery .menu1:hover img {
    transform: scale(1.2);
}

.carousel-control-prev,
.carousel-control-next {
    padding: 5px;
    background-color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translate(0%, -50%);
}

@media screen and (max-width:786px) {
    .menu .family,
    .menu .table,
    .menu .buffet {
        margin-top: 50px;
    }
}


/* ========================================Packages==================================== */

.packages h1 {
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: var(--green);
    text-decoration-thickness: 2px;
}

.packages .diamond img {
    filter: hue-rotate(50deg);
}

.packages .wm-proposal {
    border: 1px solid var(--green);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.packages .wm-proposal:hover {
    background-color: var(--green);
}


/* ======================================= Footer ================================= */

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #ececec;
}

footer a.phone {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 48px;
    color: var(--light-grey);
}

footer p {
    font-size: 22px;
}

footer a.email {
    color: var(--light-grey);
}

@media screen and (max-width:786px) {
    footer a.phone {
        font-size: 40px;
    }
}


/* ============================= Back to top button ==================================== */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    box-shadow: 0 0px 20px rgb(184, 184, 184);
    z-index: 100;
}

.back-to-top:hover {
    background: var(--green);
    color: var(--dark-grey);
}